* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  height: 62.5%;
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
}
.singup-logo {
  position: absolute;
  z-index: 999;
  top: 2rem;
  left: 6rem;
}
.container-signup {
  width: 100%;
  /* opacity: 0; */
  padding-inline: 0.6rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @keyframes logo-to-corner {
  0% {
    width: 240px;
    height: 300px;
  }
  100% {
    width: 100.03px;
    height: 121.97px;
    transform: translate(calc(-50vw + 8rem), calc(-50vh + 6rem));
  }
}

@keyframes hide-login {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.login-body {
  font-family: 'Inter';
  background-color: #f6f7f8;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.icon-links-login {
  position: absolute;
  top: 2rem;
  right: 5rem;
}
.user-log-data-section-signup {
  background-color: white;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  position: relative;
  padding-block: 1rem;
}
.exit-arrow {
  position: absolute;
  top: 2.5rem;
  left: 3rem;
  cursor: pointer;
}
.btm-bar {
  width: 150px;
  border: 3px solid #29abe2;
}
.title-join-underline {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.input-grp-section {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.log-title {
  color: #000000;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}
.disp-flex {
  display: flex;
  align-items: center;
}
.grp-input-signup {
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.input-signup {
  width: 70.5%;
  height: 53px; /*152px zum Besprechen*/
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  outline: none;
  padding-inline: 21px;
  margin-top: 1.2rem;
}
.input-signup::placeholder {
  font-family: 'Inter';
  /* font-size: 20px; */
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
}
.input-signup-1::placeholder {
  background-image: url('/icons/mail.svg');
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
}

.input-signup-0::placeholder {
  background-image: url('/icons/person.svg');
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
}

.input-signup-2::placeholder {
  background-image: url('/icons/lock.svg');
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
}
.blue-btn-signup {
  background-color: #2a3647;
  border: none;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 8px;
  transition: transform 125ms ease-in-out;
}
.show-success-btn {
  transform: translateY(-54vh);
  animation-name: showSuccesBtn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.blue-btn-signup-success {
  position: absolute;
  transform: translateY(-54vh);
  background-color: #2a3647;
  border: none;
  color: white;
  z-index: 2;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 8px;
}

@keyframes showSuccesBtn {
  0% {
    transform: translateY(-54vh);
  }
  100% {
    transform: translateY(0);
  }
}

.white-btn {
  background-color: white;
  color: #2a3647;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 8px;
  border: 3px solid #2a3647;
  transition: transform 125ms ease-in-out;
}
.sign-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-left: 1.5rem;
}
.log-guest-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
}
.btn-line {
  margin-top: 32px;
  gap: 18px;
}
.links-login {
  text-decoration: none;
  color: #a8a8a8;
  line-height: 19.2px;
  font-size: 16px;
  transition: transform 125ms ease-in-out;
}

.ft-sz-400 {
  font-weight: 400;
}

.remember-line {
  width: 100%;
  justify-content: space-around;
}
.remember-me {
  gap: 1rem;
}
.forgot-pwd {
  opacity: 0;
}
.check-box {
  cursor: pointer;
}
.consent-policy {
  color: #29abe2;
  margin-left: -0.5rem;
  text-decoration: none;
}
.remember {
  font-size: 16px;
  line-height: 19.2px;
}
.privacy-link-login {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  gap: 1.2rem;
  right: 0;
  left: 0;
}

#confirmPwdError {
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: -10.5rem;
}

#emailExist {
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: -14rem;
}

.blue-btn-signup:hover {
  background-color: #29abe2;
  transform: scale(1.01);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
}
.white-btn:hover {
  border-color: #29abe2;
  color: #29abe2;
  transform: scale(1.01);
}
.links-login:hover {
  transform: scale(1.01);
  color: #29abe2;
  font-size: 16px;
}

.consent-policy:hover {
  text-decoration: underline;
}

@media (width<=1020px) {
  .singup-logo {
    width: 3rem;
    top: 2rem;
    left: 2rem;
  }
}

@media (width<=1020px) {
  .input-signup {
    width: 92%;
    height: 36px;
  }
}

@media (width<=620px) {
  .user-log-data-section-signup {
    width: 95%;
  }

  .log-title {
    font-size: 40px;
  }
  .exit-arrow {
    left: 1rem;
  }
  .title-join-underline {
    gap: unset;
  }
  .blue-btn-signup {
    padding-block: 0.7rem;
  }
}
