body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'inter';
}

.sidebar-left {
    background-color: #2A3647;
    height: 100vh;
    width: 232px;
    position: absolute;
    z-index: 2;
    float: left;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #FFFFFF;
    height: 96px;
    flex: 1;
}

.header {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainSection {
    margin-left: 232px;
    background-color: #F6F7F8;
    height: 100%;
}


.section1 h1 {
    font-size: 61px;
    font-weight: 700;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1056px;
    height: 73px;
    margin-top: 79.5px;
    margin-left: 64px;
}

.addandsearch {
    display: flex;
    align-items: center;
    height: 48px;
    width: 504px;
    gap: 32px;

}

.addandsearch button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 48px;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: 1px;
    gap: 4px;
    background-color: #2A3647;
    color: white;
    font-size: 19px;
    font-weight: 700;

}

.addandsearch button img{
    height: 32px;
    width: 32px;
}

.tablecolumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    margin-top: 55.5px;
    padding: 0px 64px 0px 64px;
}

.tablecolumntitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 244px;
    height: 24px;
}

.todosplit {
    width: 252px;
    height: 688px;
}

.todosection {
    display: flex;
    justify-content: space-between;
    padding: 0px 64px 0px 64px;
}

.todoscontainer {
    padding-top: 20px;
}



.todocard {
    background-color: white;
    gap: 10px;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    box-shadow: 0px 0px 10px 3px #00000014;
}

.todocard span {
    color: #A8A8A8;
}

.todocard button {
    background-color: #1FD7C1;
    color: white;
    width: 144px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    border: none;
}

.progress-container {
    height: 8px;
    width: 128px;
    border-radius: 0.4rem;
    background: #f4f4f4;
    margin-right: 16px;
}

.progress-container .progress {
    height: 100%;
    width: 0;
    border-radius: 0.4rem;

    background: #4589ff;

    transition: width 0.4s ease;
}

.subtasks {
    height: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.assignedprio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drag-area-highlight {
    background-color: #8e98934b;
}


.showtodowindow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;

}

.overlay {
    background-color: white;
    width: 525px;
    border-radius: 25px;
    padding: 48px 40px 48px 40px
}