body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: ;
}

.sidebar-left {
    background-color: #2A3647;
    height: 100%;
    width: 232px;
    position: absolute;
    z-index: 2;
    float: left;
}

.logo {
    width: 100.03px;
    height: 121.97px;
}

.logodiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    margin-top: 64px;
    margin-bottom: 64px;
}

header {
    background-color: #FFFFFF;
    height: 96px;
    flex: 1;
}

.header {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span {
    width: 319px;
    height: 24px;

}

.profilehelp {
    width: 104px;
    height: 56px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSection {
    margin-left: 232px;
    background-color: #F6F7F8;
    flex: 1;
    height: 100%;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addandsearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todosection {
    display: flex;
    justify-content: space-around;
}