body{
    margin: 0;
}

.sidebar-left{
    background-color: #2A3647;
    height: 100%;
    width: 16.11vw;
    position: absolute; 
    z-index: 2;
    float: left;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100.03px;
    height: 121.97px;

}

header{
    flex: 1;
    display: flex;
    margin-left: 16.11vw;
    justify-content: space-between;
    align-items: center;
}

