body {
  margin: 0;
  background-color: #f6f7f8;
  font-family: 'inter';
}

.mainSection {
  background-color: #f6f7f8;
  height: 100%;
}

.section1 h1 {
  font-size: 3.18rem;
  font-weight: 700;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  margin-top: 4.97rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.addandsearch {
  display: flex;
  align-items: center;
  height: 48px;
  width: 31.5rem;
  gap: 2rem;
}

.addandsearch button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
  height: 48px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.63rem;
  border: 1px;
  gap: 0.25rem;
  background-color: #2a3647;
  color: white;
  font-size: 1.19rem;
  font-weight: 700;
}

.addandsearch button img {
  height: 32px;
  width: 1.5rem;
}

.searchtask {
  width: 19.5rem;
  background-color: white;
  border-radius: 0.63rem;
  border-width: 2px;
  border-style: solid;
  border-color: #a8a8a8;
  display: flex;
  align-items: center;
}

.bold-task-title {
  color: #2a3647;
  font-weight: 700;
  font-family: 'Inter';
  font-size: 20px;
}

.searchtask img {
  margin-left: 1rem;
  height: 32px;
  width: 3rem;
}

.searchtask input {
  height: 48px;
  width: 14.5rem;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
}

.tablecolumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  margin-top: 3.47rem;
  padding: 0px 4rem 0px 4rem;
}

.tablecolumntitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15.25rem;
  height: 24px;
}

.tablecolumntitle img:hover {
  cursor: pointer;
}

.todosplit {
  width: 15.25rem;
  margin-right: 1rem;
  margin-bottom: -1rem;
}

.todosection {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0px 4rem 0px 4rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.overlaydelete,
.overlayedit,
.align-item-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todoscontainer {
  width: 100%;
  padding: 1.25rem 0 1.25rem 0;
  border-radius: 10px;
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
  user-select: none;
}

.todoscontainer {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.todoscontainer::-webkit-scrollbar {
  opacity: 0;
}

.todocard {
  
  background-color: white;
  gap: 0.36rem;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 0.36rem 0.19rem #00000014;
}

.todocard span {
  color: #a8a8a8;
}

.todocardbutton {
  background-color: #1fd7c1;
  color: white;
  width: 9rem;
  height: 27px;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  border: none;
}

.progress-container {
  height: 8px;
  width: 8rem;
  border-radius: 0.4rem;
  background: #f4f4f4;
  margin-right: 1rem;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #4589ff;

  transition: width 0.4s ease;
}

.subtasks {
  height: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.assignedprio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignedprio button:not(:first-child):not(:nth-child(6)) {
  margin-left: -20px;
}

.drag-area-highlight {
  background-color: #8e98934b;
}

.showtodowindow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}

.overlay {
  background-color: white;
  /* border-radius: 1.88rem; */
  border-radius: 30px;
  /* padding: 3rem 2.5rem 3rem 2.5rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* me */
  padding-block: 1.5rem;
  max-width: 400px;
  width: 90vw;
  padding-inline: 1.5rem;
}

.gray-clr {
  font-family: 'Open sans';
  color: #42526e;
  font-weight: 700;
}

.align-horizontally {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.overlaybutton {
  /* width: 27.81rem; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.overlaybutton button {
  /* height: 36px; */
  /* padding: 0.25rem 1.5rem 0.25rem 1.5rem; */
  border-radius: 0.5rem;
  gap: 0.63rem;
  font-family: 'open sans';
  font-weight: 400;
  /* font-size: 1.5rem; */
  /* line-height: 27.6px; */
  color: #ffffff;
  border: none;
  text-transform: capitalize;
  padding: 0.375rem 0.75rem;
}

.overlaybutton img {
  width: 2rem;
  height: 32px;
  padding: 0.25rem;
  border-radius: 3.5rem;
}

.overlay h1 {
  /* width: 27.81rem; */
  font-weight: 700;
  /* font-size: 3.81rem; */
  /* line-height: 73.2px; */
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 36px;
}

.overlaydiscription {
  width: 27.81rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
}

.overlaytable {
  display: flex;
  gap: 1.56rem;
}

.overlayassigned {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.overlaychange {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.addTaskContainerFlyin {
  background-color: white;
  border-radius: 1.25rem;
}

.addTaskContainerFlyin form {
  margin: 2rem;
}

.addTaskOverviewContainerFlyin {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 0 1.25rem 1.25rem;
}

.test1flyin {
  margin: 0;
}

.addTaskContainerOneFlyin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 7rem;
  padding-top: 7rem;
}

.hiddenheadline {
  display: none;
}

.headlineAndAddTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.headlineAndAddTask button {
  background-color: #2a3647;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headlineAndAddTask h1 {
  font-size: 47px;
}

.headlineAndAddTask img {
  height: 20px;
}

.notask {
  width: 15.25rem;
}

.hiddenheadline {
  margin: 2rem;
}

.searchtaskhidden {
  width: 100%;
  background-color: white;
  border-radius: 0.63rem;
  border-width: 2px;
  border-style: solid;
  border-color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchtaskhidden img {
  margin-left: 1rem;
  height: 32px;
  width: 3rem;
  /* border-left: 2px solid rgba(0, 0, 0, 0.05); */
}

.searchtaskhidden input {
  height: 48px;
  /* width: 14.5rem; */
  width: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 1rem;
}

.edittaskOverview {
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1.2rem;
}

.addTaskContainerBoard {
  background-color: white;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 30px;
}

.footerAddTaskBoard {
  display: flex;
  justify-content: space-between;
  width: 880px;
  margin-top: 50px;
}

.closeEdit {
    height: 30px;
  }

.editTaskContainer {
  background: white;
  border-radius: 30px;
  padding: 20px 20px;
}

.closeEditContainer{
  display: flex;
  justify-content: flex-end;
}

.btn{
  max-height: 240px;
}


@media (width<=800px) {
  .todosection {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 0 2rem 0 2rem; */
    padding: 2rem;
  }

  .todosplit {
    width: 100%;
    height: fit-content;
    margin-right: 0;
    width: 100%;
  }

  .todoscontainer {
    padding-top: 1.25rem;
    min-height: fit-content;
    display: flex;
    gap: 1rem;
  }

  .tablecolumntitle {
    width: 100%;
  }

  .todocard {
    min-width: 244px;
  }
}


@media (width<=1050px) {
  .headline {
    display: none;
  }

  .hiddenheadline {
    display: flex;
    flex-direction: column;
  }


}

@media (width<=1300px) {
  /* Edit HS */

  .footerEditTask {
    margin-top: 0 !important;
    margin-bottom: 0;
  }

  .btnGrpEditTask {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .btnEditTask button {
    margin-bottom: 0;
  }

  .prioSelection img {
    width: 33%;
  }

  .editTaskTest1 {
    display: flex;
    justify-content: center;
  }

  .createTaskButtonEditTask {
    margin-bottom: 0 !important;
  }
}