body {
    margin: 0;
    font-family: "Inter";
}

button,
input {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#telephone-input::-webkit-outer-spin-button,
#telephone-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.fake-img {
    height: 20px;
    width: 20px;
    background-color: grey;
}

#add-contact-bg {
    z-index: 900;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-contact {
    z-index: 901;
    height: 60vh;
    width: 80vw;
    background-color: white;
    border-radius: 15px;
    display: flex;
}

.add-contact-slogan {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 100px 20px 0 20px;
    gap: 20px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
}

.add-contact-slogan img {
    margin-block-end: 0;
    margin-block-start: 0;
    width: 100px;
}

.add-contact-slogan h2 {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 56px;

}

.add-contact-slogan p {
    font-size: 32px;
}

.add-contact-data-picture {
    height: 120px;
    width: 120px;
    background-color: grey;
}

.add-contact-data {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.add-contact-data form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.add-contact-input-container{
    padding: 13px 21px 13px 21px;
    border: 1px #D1D1D1 solid;
    border-radius: 10px;
}

.add-contact-input {
    font-size: 20px;
}

.create-contact-button {
    padding: 16px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    border-radius: 10px;
}

.create-contact-button:hover {
    background-color: #33AFE3;
}

.cancel-contact-button {
    padding: 8px;
    border: 1px #2A3647 solid;
    color: #2A3647;
    border-radius: 10px;
    margin-right: 24px;
}

.cancel-contact-button:hover {
    border: 1px #29ABE2 solid;
    color: #33AFE3;
}




.sidebar {
    width: 232px;
    height: 100vh;
    background-color: rgb(28, 28, 49);
}

.main-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.render-container {
    display: flex;
}

.contacts-scroll-container {

    max-height: 100vh;
    overflow: auto;
}


/* scroll-bar */
.contacts-scroll-container::-webkit-scrollbar {
    width: 20px;
}

.contacts-scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.contacts-scroll-container::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.contacts-scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.contacts-scroll-container::-webkit-scrollbar-button {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.contacts-scroll-container::-webkit-scrollbar-button:vertical:start:increment {
    display: none;
}

.contacts-scroll-container::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url('../icons/arrowUp.svg');
    height: 20px;
    z-index: 999;
}

.contacts-scroll-container::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url('../icons/arrowDown.svg');
    z-index: 999;
}

.contacts-scroll-container::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}



.contacts-overview-container {
    width: 400px;
    margin: 24px;
}

.add-new-contact {
    width: 100%;
    margin-bottom: 16px;
    padding: 12px 0px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
}

#contacts-overview {
    width: 100%;
}

.contact-section-letter {
    display: block;
    font-size: 20px;
    border-bottom: 1px darkgray solid;
    padding: 17px 36px;
    margin-bottom: 8px;
}

.contact-section {
    margin-bottom: 24px;
}

.contact {
    display: flex;
    padding: 16px 28px;
    border-radius: 8px;
}

.contact:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
    background: linear-gradient(0deg, rgba(240, 240, 240, 1) 30%, rgba(249, 249, 249, 1) 100%);
}

.highlight-contact {
    background: #2A3647 !important;
    color: white;
}

.initial-overview {
    padding: 8px;
    /* border: lightgray 1px solid; */
    border-radius: 50%;
    height: fit-content;
    /* margin-right: 8px; */
    background-color: orange;
    border: 2px white solid;
    margin-right: 10px;
}

.name {
    display: flex;
    font-size: 20px;
}

.email {
    color: #007CEE;
    cursor: pointer;
    font-size: 16px;
}

/* single view */
.contact-single-view{
    flex: 1;
}

.contacts-headline {
    display: flex;
    margin-top: 120px;
    margin-left: 64px;
}

.contacts-headline h2 {
    border-right: #29ABE2 solid 2px;
    padding-right: 24px;
    margin-right: 24px;
    font-size: 61px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.contacts-headline span {
    display: flex;
    align-items: center;
    font-size: 27px;
    padding-right: 40px;
}

.contact-single-view-info {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-left: 64px;
    margin-top: 32px;
}

.initial-name-container {
    display: flex;
    gap: 54px;
}

.initial-single-view {
    font-size: 47px;
    color: white;
    padding: 10px;
    background-color: #FFC700;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.name-edit-delete {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#name-single-view {
    font-size: 47px;
    font-weight: 500;

}

.edit-and-delete {
    display: flex;
    gap: 13px;
    font-size: 16px;
}

.edit-and-delete div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-and-delete div:hover {
    /* color: #33AFE3; */
    filter: invert(35%) sepia(53%) saturate(3671%) hue-rotate(192deg) brightness(94%) contrast(106%);
    cursor: pointer;
}

.contact-information-headline {
    font-size: 20px;
}

.contact-information {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.email-single-view-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email-single-view-container span:nth-child(even) {
    color: #007CEE;
}

.email-single-view-container span:nth-child(odd) {
    font-weight: 700;
}

.phone-single-view-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.phone-single-view-container span:nth-child(odd) {
    font-weight: 700;
}

#responsive-contact-single-view{
    display: flex;
    flex-direction: column;
}

@media(max-width:1000px) {
    /* add Contact */
    .contact-single-view{
        display: none;
        padding-left: 16px;
    }
    #add-contact{
        flex-direction: column;
        width: 95%;
        height: 90vh !important;
        height: unset;
        border-radius: 30px;
    }
    .add-contact-slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px 0 20px;
    }
    .add-contact-slogan img{
        display: none;
    }
    .add-contact-slogan h2{
        font-size: 47px;
    }
    .add-contact-slogan p{
        font-size: 20px;
        height: 46%;
        
    }
    .add-contact-data{
        position: relative;
    }
    .profile-icon-container{
        position: absolute;
        top: -70px;
    }
    /* Single view */
    .contacts-headline{
        margin-top: 36px;
        margin-left: 0;
        flex-direction: column;
    }
    .contacts-headline h2{
        font-size: 47px;
    }
    .contacts-headline span{

    }
    .initial-name-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
    .initial-single-view{
        font-size: 27px;
    }
    #name-single-view{
        font-size: 36px;
        font-weight: 700;
    }
    .edit-and-delete{
        display: none;
    }

}