* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
}
.login-logo {
  position: absolute;
  z-index: 999;
  left: 6rem;
  top: 2rem;
  /* animation-name: logo-to-corner;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}
/* .container-login {
  opacity: 0;
  animation-name: hide-login;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 100ms;
  animation-fill-mode: both;
} */
.container-login {
  width: 100%;
  padding-inline: 0.6rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes logo-to-corner {
  0% {
    width: 240px;
    height: 300px;
  }
  100% {
    width: 100.03px;
    height: 121.97px;
    transform: translate(calc(-50vw + 8rem), calc(-50vh + 6rem));
  }
}

@keyframes hide-login {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-body {
  font-family: 'Inter';
  background-color: #f6f7f8;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.icon-links-login {
  position: absolute;
  top: 2rem;
  right: 5rem;
}
.user-log-data-section {
  background-color: white;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  padding-block: 2rem;
}

.exit-arrow {
  position: absolute;
  top: 2.5rem;
  left: 3rem;
  cursor: pointer;
}

.user-log-data-section-signup {
  background-color: white;
  width: 598px;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  position: relative;
  padding-block: 1rem;
}

.btm-bar {
  width: 130px;
  border: 3px solid #29abe2;
}
.title-join-underline {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.input-grp-section {
  width: 75%;
  margin-top: 32px;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.input-grp-section-signup {
  width: 75%;
  margin-top: 32px;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.log-title {
  color: #000000;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}
.disp-flex {
  display: flex;
  align-items: center;
}
.grp-input-login {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.input-login {
  width: 100%;
  /* width: 85%; */
  height: 100%;
  /* height: 45px;  */
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  outline: none;
  padding-inline: 21px;
  /* border-right: none; */
  padding-top: 6px;
}
.mail-btn-pointer-pos {
  cursor: text;
  position: absolute;
  right: 21px;
}
.pwd-btn-pos {
  position: absolute;
  right: 21px;
}

.icon-btn-login {
  /* position: absolute; */
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  height: 100%;
}

.ps-rel-mail {
  position: relative;
}
.ps-rel-pwd {
  position: relative;
}
.input-login::placeholder {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
/* .input-login-1::placeholder {
  background-image: url('/icons/mail.svg');
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
} */
.inpt-mail-icon-grp {
  height: 45px; /*152px zum Besprechen*/
  display: flex;
}
.consent-policy {
  color: #29abe2;
  margin-left: -0.5rem;
  text-decoration: none;
}

/* .input-login-0::placeholder {
  background-image: url('/icons/person.svg');
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
} */
.signup-link {
  text-decoration: none;
  color: white;
}

/* .input-login-2::placeholder {
  background-image: url('/icons/lock.svg');
  background-repeat: no-repeat;
  background-position: right;
  object-fit: cover;
} */
.blue-btn {
  background-color: #2a3647;
  border: none;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
  border-radius: 8px;
  transition: transform 125ms ease-in-out;
}

.white-btn {
  background-color: white;
  color: #2a3647;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 8px;
  border: 3px solid #2a3647;
  transition: transform 125ms ease-in-out;
}
.sign-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-left: 1.5rem;
}

.blue-btn-signup {
  background-color: #2a3647;
  border: none;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 8px;
  transition: transform 125ms ease-in-out;
  margin-top: -1rem;
}

.blue-btn-signup-success {
  position: absolute;
  transform: translateY(-10vh);
  background-color: #2a3647;
  border: none;
  color: white;
  z-index: -1;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  border-radius: 8px;
  font-size: 15px;
}

.log-guest-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-decoration: none;
}
.btn-line {
  margin-top: 32px;
  gap: 18px;
}
.links-login {
  text-decoration: none;
  color: #a8a8a8;
  line-height: 19.2px;
  font-size: 16px;
  transition: transform 125ms ease-in-out;
}

.ft-sz-400 {
  font-weight: 400;
}

.remember-line {
  width: 100%;
  justify-content: space-around;
}
.remember-me {
  gap: 1rem;
}
.forgot-pwd {
  display: none;
  opacity: 0;
  /* cursor: pointer; */
  color: #29abe2;
}
.check-box {
  cursor: pointer;
}

.remember {
  font-size: 16px;
  line-height: 19.2px;
  color: #a8a8a8;
}
.rmb-signup {
  margin-top: 1rem;
}
.privacy-link-login {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 3rem;
  gap: 1.5rem;
  right: 0;
  left: 0;
}

.privacy-link-login-signup {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -4rem;
  gap: 1.5rem;
  right: 0;
  left: 0;
}

.menu-login {
  width: 100%;
}

.inp-ctn {
  width: 100%;
}
#emailError,
#passwordError {
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
}
#confirmPwdError {
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
}

#emailExist {
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
}
.input-login:user-invalid {
  border: 1px solid red;
}
.input-login:valid {
  border-right: none;
  border: 1px solid #29abe2;
}
.blue-btn:hover {
  background-color: #29abe2;
  transform: scale(1.01);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
}
.white-btn:hover {
  border-color: #29abe2;
  color: #29abe2;
  transform: scale(1.01);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
}
.links-login:hover {
  transform: scale(1.01);
  color: #29abe2;
  font-size: 16px;
}
.blue-btn-signup:hover {
  background-color: #29abe2;
  transform: scale(1.01);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
}

@media (width<=1020px) {
  .login-logo {
    width: 3rem;
    top: 2rem;
    left: 2rem;
  }
}

@media (width<=1020px) {
  .input-signup {
    width: 92%;
    height: 36px;
  }
}

@media (width<=620px) {
  .user-log-data-section {
    width: 95%;
  }
  .user-log-data-section-signup {
    width: 95%;
  }
  .btm-bar {
    width: 80px;
  }

  .log-title {
    font-size: 40px;
  }
  .exit-arrow {
    left: 1rem;
  }
  .sign-up {
    margin-left: 1rem;
  }
  .title-join-underline {
    gap: unset;
  }
  .blue-btn-signup {
    padding-block: 0.7rem;
  }
}

@media (width<=460px) {
  .btn-line {
    flex-direction: column;
  }
  .log-guest-btn {
    width: 100%;
  }
  .privacy-link-login {
    bottom: 2rem;
  }
  .input-grp-section {
    width: 95%;
  }
  .input-grp-section-signup {
    width: 95%;
  }
  .user-log-data-section {
    margin-top: -2rem;
    padding-bottom: 1.2rem !important;
    padding-block: unset;
  }
  .icon-links-login {
    bottom: 5rem;
    top: unset;
    right: unset;
  }
  .menu-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
