* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
}
.logo-blue {
  position: absolute;
  z-index: 999;
  animation-name: logo-to-corner;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.logo-white {
  /* display: none; */
  opacity: 0;
  position: absolute;
  z-index: 999;
}
.container-login {
  opacity: 0;
  animation-name: hide-login;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 1000ms;
  animation-fill-mode: both;
}
.container-login {
  width: 100%;
  padding-inline: 0.6rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes logo-to-corner {
  0% {
    width: 240px;
    height: 300px;
  }
  100% {
    width: 100.03px;
    height: 121.97px;
    transform: translate(calc(-50vw + 8rem), calc(-50vh + 6rem));
  }
}

@keyframes hide-login {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-body {
  font-family: 'Inter';
  background-color: #f6f7f8;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.icon-links-login {
  position: absolute;
  top: 2rem;
  right: 5rem;
}
.user-log-data-section {
  background-color: white;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  padding-block: 2rem;
}
.btm-bar {
  width: 130px;
  border: 3px solid #29abe2;
}
.title-join-underline {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.input-grp-section {
  width: 75%;
  margin-top: 32px;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.log-title {
  color: #000000;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}
.disp-flex {
  display: flex;
  align-items: center;
}
.grp-input-login {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.input-login {
  width: 100%;
  height: 45px; /*152px zum Besprechen*/
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  outline: none;
  padding-inline: 21px;
}
.input-login::placeholder {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.inpt-mail-icon-grp {
  height: 45px; /*152px zum Besprechen*/
  display: flex;
}

.signup-link {
  text-decoration: none;
  color: white;
}

.pwd-btn-pos {
  position: absolute;
  right: 21px;
}

.mail-btn-pointer-pos {
  cursor: text;
  position: absolute;
  right: 21px;
}

.icon-btn-login {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  height: 100%;
}

.blue-btn {
  background-color: #2a3647;
  border: none;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
  border-radius: 8px;
  transition: transform 125ms ease-in-out;
}

.white-btn {
  background-color: white;
  color: #2a3647;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 8px;
  border: 3px solid #2a3647;
  transition: transform 125ms ease-in-out;
}
.sign-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-left: 1.5rem;
}

.ps-rel-mail {
  position: relative;
}
.ps-rel-pwd {
  position: relative;
}

.log-guest-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-decoration: none;
}
.btn-line {
  margin-top: 32px;
  gap: 18px;
}
.links-login {
  text-decoration: none;
  color: #a8a8a8;
  line-height: 19.2px;
  font-size: 16px;
  transition: transform 125ms ease-in-out;
}

.ft-sz-400 {
  font-weight: 400;
}

.remember-line {
  width: 100%;
  justify-content: space-around;
}
.remember-me {
  gap: 1rem;
}
.forgot-pwd {
  display: none;
  opacity: 0;
  /* cursor: pointer; */
  color: #29abe2;
}
.check-box {
  cursor: pointer;
}

.remember {
  font-size: 16px;
  line-height: 19.2px;
}
.privacy-link-login {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 3rem;
  gap: 1.5rem;
  right: 0;
  left: 0;
}

.menu-login {
  width: 100%;
}

.inp-ctn {
  width: 100%;
}

#emailError,
#passwordError {
  color: red;
  margin-block-start: 0;
  margin-block-end: 0;
}

.input-login:user-invalid {
  border: 2px solid red;
}

.input-login:valid {
  border-right: none;
  border: 1px solid #29abe2;
}

.blue-btn:hover {
  background-color: #29abe2;
  transform: scale(1.01);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
}
.white-btn:hover {
  border-color: #29abe2;
  color: #29abe2;
  transform: scale(1.01);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
}
.links-login:hover {
  transform: scale(1.01);
  color: #29abe2;
  font-size: 16px;
}
.logo-white {
  display: block;
  animation-name: logo-to-corner, logoWhite;
  animation-duration: 2s, 1s;
  animation-timing-function: ease-in-out, linear;
  animation-iteration-count: 1, 1;
  animation-fill-mode: both, both;
}

.logo-blue {
  animation-name: logo-to-corner, logoBlue;
  animation-duration: 2s, 1s;
  animation-timing-function: ease-in-out, linear;
  animation-iteration-count: 1, 1;
  animation-fill-mode: both, both;
}

/* @media (width<=1020px) {





} */

@media (width<=1020px) {
  .input-signup {
    width: 92%;
    height: 36px;
  }
}

@media (width<=620px) {
  .user-log-data-section {
    width: 95%;
  }
  .btm-bar {
    width: 80px;
  }

  .log-title {
    font-size: 40px;
  }
  .exit-arrow {
    left: 1rem;
  }
  .sign-up {
    margin-left: 1rem;
  }
  .title-join-underline {
    gap: unset;
  }
  .blue-btn-signup {
    padding-block: 0.7rem;
  }
}

@media (width<=460px) {
  .btn-line {
    flex-direction: column;
  }
  .log-guest-btn {
    width: 100%;
  }
  .privacy-link-login {
    bottom: 2rem;
  }
  .input-grp-section {
    width: 95%;
  }
  .user-log-data-section {
    margin-top: -2rem;
    padding-bottom: 1.2rem !important;
    padding-block: unset;
  }
  .icon-links-login {
    bottom: 5rem;
    top: unset;
    right: unset;
  }
  .menu-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay-startpage {
    animation-name: overlayBlue;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 1000ms;
    animation-fill-mode: both;
  }

  @keyframes logo-to-corner {
    0% {
      width: 8rem;
      /* height: 300px; */
    }
    100% {
      width: 3.5rem;
      transform: translate(calc(-50vw + 4.5rem), calc(-50vh + 4rem));
    }
  }

  @keyframes overlayBlue {
    0% {
      inset: 0;
      background-color: #2a3647;
      position: absolute;
    }
    100% {
      display: none;
    }
  }

  @keyframes logoWhite {
    0% {
      display: block;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes logoBlue {
    0% {
      opacity: 0;
      /* display: none; */
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
