body {
  margin: 0;
}

.addTaskHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.spanHeader {
  font-size: 20px;
  padding-left: 348px;
}

.headerIMGS {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 40px;
}

.helpIMG {
  width: 32px;
  height: 32px;
}

.helpIMG:hover {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.UserIMG {
  width: 56px;
  height: 56px;
  gap: 16px;
}

.UserIMG:hover {
  background-color: aqua;
  cursor: pointer;
}


.sidebarContainer {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.joinLogo {
  width: 100.03px;
  height: 121.97px;
}

.sidesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 229px;
  gap: 15px;
}

.sides {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(174, 176, 179);
  height: 46px;
  gap: 8px;
  cursor: pointer;
}

.sidebarFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(137, 140, 144);
  margin-bottom: 52px;
  gap: 4px;
}

.spanSidebarFooter {
  padding: 8px;
  gap: 8px;
}

.spanSidebarFooter:hover {
  cursor: pointer;
  color: #29ABE2;
}

.seperatorAddTask {
  width: 100%;
  height: 3px;
  background-color: rgb(227, 228, 229);
}

.addTaskContainer {
  background-color: rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
}

.addTaskContainerLeftRight {
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.addTaskContainerOne {
  display: flex;
  flex-direction: column;
}

.addTaskContainerTwo{
  padding-left: 348px;
  padding-right: 648px;
  margin-top: 106px;
}

.groupButtonForm{
  display: flex;
  padding-left: 348px;
}

h2 {
  font-size: 73px;
  padding-left: 348px;
}

.star {
  color: rgb(255, 129, 144);
}

input {
  border-radius: 10px;
  border: 1px solid #A8A8A8;
  padding: 16px;
  cursor: pointer;
}

textarea {
  border-radius: 10px;
  border: 1px solid #A8A8A8;
  padding: 16px;
  cursor: pointer;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 376px;
  gap: 8px;
  padding-right: 24px;
}

select {
  border-radius: 10px;
  border: 1px solid #A8A8A8;
  padding: 16px;
  cursor: pointer;
}

select:hover {
  border-color: grey;
}

.subtasksPlusIMG {
  width: 14px;
  height: 14px;
  position: absolute;
  margin-top: 43px;
  margin-left: 410px;
}

.subtasksPlusIMG:hover {
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
}

.seperatorContainer {
  width: 1px;
  height: 424px;
  background-color: #d1d1d1;
}

.containerRight {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 376px;
  gap: 8px;
  padding-left: 24px;
}

.titleAddTask {
  display: flex;
  flex-direction: column;
}

.addTaskOverview {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.prioSelection {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.allPrio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 136px;
  height: 56px;
  border-radius: 10px;
  padding: 16px, 10px, 16px, 10px;
  background-color: #ffffff;
  cursor: pointer;
}

.allPrio:hover {
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.prio {
  display: flex;
  flex-direction: column;
}

.prioUrgentIMG {
  width: 20px;
  height: 14.51px;
}

.prioMediumIMG {
  width: 20px;
  height: 7.45px;
}

.prioLowIMG {
  width: 20px;
  height: 14.51px;
}

.spanFooter {
  display: flex;
  align-items: end;
}

.footerAddTask {
  display: flex;
  justify-content: space-between;
}

.footerAddTaskButtons {
  display: flex;
  gap: 16px;
}

.clearButton {
  height: 56px;
  width: 110px;
  border-radius: 10px;
  /* padding: 16px; */
  gap: 4px;
  font-size: 20px;
  border: 1px solid rgb(42, 54, 71);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearButton:hover {
  cursor: pointer;
  border-color: #29ABE2;
  color: #29ABE2;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.createTaskButton {
  height: 56px;
  width: 183px;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  background-color: rgb(42, 54, 71);
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createTaskButton:hover {
  cursor: pointer;
  background-color: #29ABE2;
  border-color: #29ABE2;
  border: unset;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.bgUrgent{
  background-color: rgb(255,61,0);
  color: white;
  font-weight: 700;
}

.bgMedium{
  background-color: rgb(255,168,0);
  color: white;
  font-weight: 700;
}

.bgLow{
  background-color: rgb(122,226,41);
  color: white;
  font-weight: 700;
}

.imgCheck {
  width: 15.49px;
  height: 11.22px;
}

.containerLeftSpan {
  font-size: 20px;
  font-weight: 400;
}

.sidebarSpan {
  font-size: 20px;
  font-weight: 400;
}

.spanSubtasks {
  font-size: 20px;
}