/* GENERAL CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
}
.summary-body {
  height: 100vh;
}
.container-summary {
  height: 100vh;
}

.disp-flex {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}
.para-summary {
  margin-block-start: 0;
  margin-block-end: 0;
}

.white-text {
  color: white;
}
.gray-text {
  color: #a8a8a8;
}
/* LEFT SIDE SECTION*/

.left-side-section {
  flex-direction: column;
  background-color: #2a3647;
  height: 100vh;
  width: 232px;
}
.section-1 {
  padding-top: 64px;
  padding-bottom: 4rem;
}
.section-2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.section-3 {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 2rem;
  gap: 4px;
}
.logo-summary {
  width: 100.03px;
  height: 121.97px;
}

.icons-left-side-section {
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.sub-menu-container {
  gap: 0.5rem;
  padding-block: 2px;
  padding-left: 60px;
  transition: all 125ms ease-in-out;
}
.links {
  text-decoration: none;
  transition: all 125ms ease-in-out;
}
/* RIGHT SIDE SECTION */
.right-side-section {
  height: 100vh;
  width: calc(100% - 232px);
  background-color: rgb(246, 247, 248);
}

.menu {
  height: 70px;
  background-color: white;
  box-shadow: 0px 0 6px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  padding-right: 4rem;
  padding-left: 7rem;
}
.menu-icons-group {
  gap: 1rem;
}
.task-info-section {
  background-color: rgb(246, 247, 248);
  padding-left: 6rem;
}
.login {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 2px solid #2a3647;
}
.help {
  width: 1rem;
  object-fit: cover;
  cursor: pointer;
  transition: transform 125ms ease-in-out;
}
.marketing-slogan {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  gap: 30px;
}
.slogan {
  font-size: 27px;
  line-height: 32.4px;
  color: #2a3647;
}
.title {
  font-weight: 700;
  font-size: 61px;
  color: #000000;
  line-height: 73.2px;
}
.blue-separator-line {
  height: 59px;
  border: 3px solid #29abe2;
}

.ft-sz-400 {
  font-weight: 400;
}
.kanban-tool {
  font-size: 20px;
  line-height: 24px;
  color: #2a3647;
}
.greeting {
  font-weight: 500;
  font-size: 47px;
  line-height: 56.4px;
  color: #2a3647;
}
.current-user-name {
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: #29abe2;
}
.first-line-task {
  gap: 32px;
}
.do-task {
  background-color: white;
  width: 215px; /* 264px zu besprechen */
  height: 126px; /* 168px zu besprechen */
  border-radius: 30px;
  justify-content: center;
  gap: 18px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: transform 125ms ease-in-out;
}
.middle {
  text-align: center;
}
/* zu besprechen */
.task-icons {
  width: 40px;
  height: 40px;
}

.boar-progress-feedback {
  background-color: white;
  width: 145.33px; /* 264px zu besprechen */
  height: 140px; /* 168px zu besprechen */
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: transform 125ms ease-in-out;
}

.third-line-task {
  gap: 13px;
}

.second-line-task {
  height: 126px;
  width: 462px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  gap: 13px;
  transition: transform 125ms ease-in-out;
}
.urgent {
  gap: 18px;
  justify-content: center;
}

.task-due-common {
  width: 250px; /* 264px zu besprechen */
  height: 140px; /* 168px zu besprechen */
}
.gray-separator-line {
  height: 102.02px;
  border: 2px solid #d1d1d1;
}
.upcomming-deadline {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.task-overview {
  flex-direction: column;
  gap: 18px;
}
.right-greeting {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-text {
  font-size: 17px;
  line-height: 18px;
  color: #2a3647;
}
.var-task {
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
}
.due-date {
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
  color: #2a3647;
}

/* HOVER FUNCTIONS */
.do-task:hover {
  transform: scale(1.025);
  background-color: #2a3647;
  color: white;
}
.do-task:hover .task-icons {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.do-task:hover .task-text {
  color: white;
}
.second-line-task:hover {
  transform: scale(1.025);
  background-color: #2a3647;
  color: white;
}
.second-line-task:hover .task-text {
  color: white;
}
.second-line-task:hover .due-date,
.gray-separator-line {
  color: white;
}
.boar-progress-feedback:hover {
  transform: scale(1.025);
  color: white;
  background-color: #2a3647;
}
.boar-progress-feedback:hover .task-text {
  color: white;
}

.links:hover {
  transform: scale(1.025);
  color: #29abe2;
}
.help:hover {
  transform: scale(1.2);
}
.login:hover {
  background-color: #d5e5fe;
}

.sub-menu-container:hover {
  background-color: rgb(41, 60, 85);
  transform: scale(1.01);
}
